{% load static %}
{% include 'scripts.html' %}




<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white shadow-sm  mb-5 rounded">
  <a class="navbar-brand" href="/" >Anaga Ifeanyi</a>


  
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Blog</a>
      </li>
     
      
      
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        {% if request.user.is_authenticated %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
          <a class="dropdown-item" href="{% url 'profile' %}">
            <i class="fas fa-user-alt fa-sm"></i>
			
Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">
            <i class="fas fa-sign-out-alt fa-sm"></i>
	
          Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        {% else %}
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
        <a class="dropdown-item" href="{% url 'login' %}?next={{request.path}}">
          
          
          
                  <i class="fas fa-sign-in-alt fa-sm"></i>
          Login</a>
          <a class="dropdown-item" href="{% url 'createuser' %}">Signup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        
        
        {% endif %}
        
        
      </li>
      
    
    </ul>
     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Blog</a>
      </li>
      </u>
    
    <form class="form-inline mt-2 mt-md-0" method="get" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




      





 <div class="ui stacked segment">
        {{form.non_field_errors}}
        <div class="field">

          <div class="ui left icon input">
            <i class="user icon"></i>
            
            {{form.username.errors}}
            {{form.username}}

          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
           
            {{form.password.errors}}
            {{form.password}}
           
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button " value="Login">
      </div>